.container{
  border: 2px solid black;
  width: 500px;
  height: 500px;
  margin: auto;
  margin-top: 20px;
}

.timer-instde-box{
  width: 200px;
  height: 200px;
  border-radius: 110px;
  margin: auto;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: conic-gradient(#EBE9E6 0deg 300deg, hsl(140, 67%, 70%) 300deg 360deg);
}

.timer-container{
  width: 170px;
  height: 170px;
  margin: auto;
  border-radius: 90px;
  background: #F9F7F2;
  display: flex;
}

.timer-box{
  width: 100px;
  height: 100px;
  margin: auto;
}
.hour{
  margin: auto;
  font-size: 20px;
  text-align: center;
}
.time-box1{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  justify-content: space-between;
}
/* .timer-box2{
  border: 1px solid black;
} */
.num1{
  font-size: 40px;
}
.text1{
  font-weight: bold;
  margin: auto;
}
.Colon{
  font-size: 40px;
  margin-top: -20px;
}
.num2{
  font-size: 40px;
}
.text2{
  font-weight: bold;
}

.button-container{
  width: 300px;
  display: flex;
  justify-content: space-between;
  margin: auto;
  margin-top: 30px;
}

button{
  width: 90px;
  height: 40px;
  gap: 30px;
}

.bold-text{
  font-weight: bold;
  font-size: 22px;
}
